.container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.create {
  width: 250px;
  margin: 10px;
  padding: 5px;
  font-size: .8rem;
  position: fixed;
  left: 0;
}

.briefSave {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#brief {
  width: 50%;
  margin-right: 2px;
}

.create #briefTitle {
  font-size: 1rem;
  font-weight: 900;
  font-style: italic;
}

.create p {
    -webkit-margin-before: .2em;
    -webkit-margin-after: .2em;
}

.small-container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.small-container h1 {
  font-size: 1.5em;
}

.box {
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type=text] {
  padding: 20px;
  font-size: 1.2rem;

}

button {
  padding: 5px;
  font-size: 1.1em;
}

#summary {
  font-size: 3rem;
  font-weight: 800;
  height: inherit;
  overflow: scroll;
}

 #title {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2.5px;
  font-style: italic;
}

.hover:hover {
  color: rgba(32, 17, 17, 0.51);
}







